body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F4F0;
  margin: 0;
}

@font-face {
  font-family: 'KaftanSerif';
  src: url('/fonts/kaftan-trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/*Navbar*/
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 123px;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-right ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-right li {
  font-size: 16px;
  color: #27272A;
  cursor: pointer;
}

.botao {
  border: 1px solid #27272A;
  border-radius: 32px;
  width: 116px;
  height: 42px;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 88px; 
  gap: 10px;
}

.botao:hover {
  background-color: #27272A;
  color: white;
}

/* TRANSIÇÃO DO MENU */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 21px;
  justify-content: space-between;
  z-index: 1001;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #27272A;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #27272A;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #000;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #F5F4F0;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: height 0.3s ease;
    z-index: 1000;
  }

  .navbar-links.show {
    height: 240px;
    padding: 20px 0;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 20px;
  }

  .botao {
    margin-left: 0;
  }
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/*Hero*/
.hero {
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 60px 0;
}

/* Fundo azul suave atrás */
.hero-bg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 790px;
  background: linear-gradient(
    135deg,
    #f0f8f9 10%,
    #d3e9ee 50%,
    #c5e3ea 80%
  );
  z-index: 0;
  filter: blur(42px);
}


.hero-title {
  font-family: 'KaftanSerif', serif;
  font-size: 158px;
  font-weight: 400;
  line-height: 128px;
  color: #3A3535;
  margin-bottom: 0;
  margin-top: 12px;
  position: relative;
  z-index: 1;
}

.hero-img {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 12px;
  position: relative;
  z-index: 1;
}
/*About*/
.about{
  display: flex;
  justify-content: space-around;
  margin: 180px 123px;
}
.about-img{
  width: 276px;
  height: 329px;
  object-fit: cover;
  border-radius: 160px;
}
.about-right{
  width: 582px;
  height: 330px;
}
.about-title{
  font-family: 'KaftanSerif', serif;
  color: #27272A;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 400;
}
.about-text{
  font-size: 20px;
  line-height: 34px;
  font-weight: 100;
  color: #27272A;
  margin-top: 40px
}
.about-button{
  width: 124px;
  height: 42px;
  border-radius: 32px;
  border: #27272A 1px solid;
  font-size: 14px;
  background-color: #F5F4F0;
  transition: background-color 0.3s ease;
  margin-top: 40px
}
.about-button:hover {
  background-color: #27272A;
  color: white;
}

/*Songs*/
.songs-header {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #CAC3BD;
  text-align: center;
  justify-content: center;  
  align-items: center;   
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 100;
}
.song-card {
  flex: 1;
  max-width: 33.33%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}

.song-card:hover {
  transform: scale(1.02);
}

.song-image {
  width: 100%;       
  height: auto;     
  object-fit: cover;
  display: block;
}
.songs-grid {
  display: flex;
  justify-content: space-between; 
  background-color: #f8f8f8;
  width: 100%;
  box-sizing: border-box;
}
/*Eras*/
.eras{
  display: flex;
  justify-content: space-around;
  margin: 180px 123px;
}

.eras-right{
  width: 582px;
  height: 330px;
}
.eras-title{
  font-family: 'KaftanSerif', serif;
  color: #27272A;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 400;
}
.eras-text{
  font-size: 20px;
  line-height: 34px;
  font-weight: 100;
  color: #27272A;
  margin-top: 40px
}
.eras-button a {
  text-decoration: none;
  color: #27272A;

}

.eras-button:hover a {
  color: white;
}
.eras-button{
  width: 124px;
  height: 42px;
  border-radius: 32px;
  border: #27272A 1px solid;
  font-size: 14px;
  background-color: #F5F4F0;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}
.eras-button:hover {
  background-color: #27272A;
  color: white;
}
/*Album*/
.album{
  display: flex;
  justify-content: space-around;
  margin: 180px auto 280px auto;
}

.album-right{
  width: 480px;
  height: 468px;
}
.album-title{
  font-family: 'KaftanSerif', serif;
  color: #27272A;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 400;
}
.album-order {
  width: 408px;
  font-size: 20px;
  list-style: none; /* Desativa a numeração padrão */
  padding-left: 0;
  margin: 0;
  counter-reset: item; /* Inicia o contador */
}

.album-order li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 25px; /* Espaço para o número */
  border-top: 1px solid #ccc;
  position: relative;
}

.album-order li:first-child {
  border-top: none;
}

.album-order li::before {
  content: counter(item) "."; /* Formato: "1." */
  counter-increment: item; /* Incrementa o contador */
  position: absolute;
  left: 0;
  font-weight: normal;
}

.setas {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-left: 10px; /* Espaço entre texto e seta */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.album-image {
  width: 582px;
  height: 630px;
  object-fit: cover;
  animation: spin 5s linear infinite;
  transform-origin: center center;    
   
}
.album-button{
  width: 168px;
  height: 42px;
  border-radius: 32px;
  border: #27272A 1px solid;
  font-size: 14px;
  background-color: #F5F4F0;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}
.album-button a {
  text-decoration: none;
  color: #27272A;
}

.album-button:hover a {
  color: white;
}

.album-button:hover a {
  color: white;
}
.album-button:hover {
  background-color: #27272A;
  color: white;
}

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px auto 180px auto;
  text-align: center;
}

.newsletter-title {
  font-family: 'KaftanSerif', serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 158%;
  color: #3A3535;
  margin-bottom: 40px;
}

.newsletter-input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #27272A;
  width: 380px;
}

.newsletter-input {
  flex: 1;
  height: 38px;
  background-color: #F5F4F0;
  border: none;
  outline: none;
  padding-left: 10px;
  font-family: inherit;
  font-size: 16px;
  color: #27272A;
}

.newsletter-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.newsletter-button img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

/*Footer*/
footer {
  background: #CAC3BD;
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-column h3 {
  font-size: 20px;
  color: #27272A;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  font-size: 16px;
  color: #27272A;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column li:hover {
  color: black;
}

.footer-logo img {
  width: 100px;
  height: auto;
}
/* General responsive adjustments */
@media (max-width: 1200px) {
  .nav {
    padding: 30px 60px;
  }
  
  .hero-title {
    font-size: 120px;
    line-height: 100px;
  }
  
  .hero-img {
    width: 600px;
    height: 600px;
  }
  
  .about, .eras, .album {
    margin: 120px 60px;
  }
}

@media (max-width: 992px) {
  .nav {
    padding: 20px 40px;
  }
  
  .hero-title {
    font-size: 90px;
    line-height: 80px;
  }
  
  .hero-img {
    width: 450px;
    height: 450px;
  }
  
  .hero-bg {
    height: 600px;
  }
  
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 290px 40px;
  }
  .eras{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 180px 40px;
  }
  .album{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 40px;
  }
  
  .about-right, .eras-right, .album-right {
    width: 100%;
    margin-top: 40px;
  }
  
  .album-image {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  
  .album-order {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 15px 20px;
  }
  
  .navbar-right ul {
    display: none; /* Hide desktop menu */
  }
  
  /* Add mobile menu button */
  .mobile-menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  
  .hero-title {
    font-size: 60px;
    line-height: 50px;
  }
  
  .hero-img {
    width: 300px;
    height: 300px;
  }
  
  .hero-bg {
    height: 400px;
  }
  
  .songs-grid {
    flex-direction: column;
  }
  
  .song-card {
    max-width: 100%;
  }
  
  .newsletter-title {
    font-size: 36px;
  }
  
  .newsletter-input-wrapper {
    width: 90%;
  }
  footer{
    height: 600px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .footer-column {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 48px;
    line-height: 40px;
  }
  
  .hero-img {
    width: 250px;
    height: 250px;
  }
  
  .about-title, .eras-title, .album-title, .newsletter-title {
    font-size: 36px;
  }
  
  .about-text, .eras-text {
    font-size: 16px;
    line-height: 28px;
  }
  
  .botao {
    margin-left: 0;
    width: 100px;
  }
  .newsletter{
    margin-top: 10px;
  }
}